/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');
/*===== End =====*/

/*===== Common Style =====*/
*{
    margin: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
button a{
    font-family: 'Poppins', sans-serif;
}
.container-hd{
    width: 1145px;
}
.container-main{
    width: 1050px;
}
img{
    max-width: 100%;
}
/*===== End =====*/

/*===== Header Style start =====*/
#hero-section{
    background-color: #2D25A0;
    padding: 120px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-area{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.hero-text{
    width: 485px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-text .hero-title{
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.hero-text .hero-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    width: 168px;
    height: 44px;
}
.hero-text .hero-btn a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.hero-text .hero-btn i{
    margin-left: 8px;
}
.hero-banner{
    display: flex;
    justify-content: flex-end;
}
.hero-banner img{
    width: 555px;
}
/*===== Header Style End =====*/

/*===== Main Style Start =====*/
#main-section{
    padding: 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px 30px;
}
.player-card{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img{

}
.player-img img{
    
}
.player-info{

}
.player-info .name{
    margin-top: 5px;
}
.player-info .name h3{
    font-size: 28px;
    line-height: 48px;
    color: #18191F;
}
.player-info .description{
    margin: 10px 0 16px;
}
.player-info .description p{
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    font-weight: 400;
}
/*===== Main Style End =====*/